.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: $color-light;
    border-bottom: .1rem solid $color-dark;
    height: 6rem;
    min-width: 100%;

    &__nav {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 3rem;
    }

    &__logo {
        font-size: 1.6rem;
        color: $color-dark;

        span {
            font-size: 1.8rem;
            font-weight: 700;
            color: $color-primary;
        }
    }

    &__spacer {
        flex: 1;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
       
    }

    &__link {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: .1rem;
        padding: .5rem 1.25rem;
        cursor: pointer;

        &:hover {
            background-color: $color-primary;
            border-radius: .25rem;
            color: $color-light;
            transition: all .3s ease;
        }
    }
}

@media (max-width: $bp-tablet) {
    .navbar__list {
        display: none;
    }
}