.about {

    &__cards-container {
        margin: 0 2rem;
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;

        @media screen and (min-width: 75em) {
            grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
        }
    }

    .card-title {
        margin-left: 1rem;
    }

    &__card-description {
        font-size: 1.4rem;
        padding: 1.5rem;
        border-radius: .25rem;
        // box-shadow: 0 .3rem 1rem $color-dark;
        box-shadow: .3rem .3rem 1.5rem #E6E6E6,
                    -.3rem -.3rem 1.5rem $color-light;
    }

    // Individual cards
    .a1 {
        grid-column: 1 / -1;
    }

    .a2 {

        @media screen and (max-width: 75em) {
            grid-column: 1 / 3;
        }

        @media screen and (max-width: 34.375em) {
            grid-column: 1 / -1;
        }
    }

    .a3 {

        @media screen and (max-width: 75em) {
            grid-column: 3 / -1;
        }

        @media screen and (max-width: 34.375em) {
            grid-column: 1 / -1;
        }
    }

    .a4 {
        grid-column: 1 / -1;
    }

    &__card-paragraph {
        margin-bottom: 1rem;
    }

    // Family card
    .family {
        height: 22rem;
        display: flex;

        @media screen and (max-width: 75em) {
            flex-direction: column;
        }
    }

    // Lists
    &__list {
        height: 12rem;
        list-style-type: none;
    }

    &__subitem {
        margin-left: 2rem;
    }

    i {
        color: $color-primary;
        margin-right: 1rem;
    }

    // Card links
    &__link {
        text-transform: uppercase;
        color: $color-primary;
        font-size: 1.8rem;
        border-bottom: .1rem solid $color-primary;
        text-decoration: none;
    }
}