.about {

    &__cards-container {
        margin: 0 2rem;
        margin-bottom: 3rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
        grid-gap: 2rem;

        @media screen and (min-width: 75em) {
            grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
        }
    }

    .card-title {
        margin-left: 1rem;
    }

    &__card-description {
        font-size: 1.4rem;
        min-height: 22rem;
        padding: 1rem;
        border-radius: .25rem;
        // box-shadow: 0 .3rem 1rem $color-dark;
        box-shadow: .3rem .3rem 1.5rem #E6E6E6,
                    -.3rem -.3rem 1.5rem $color-light;
    }

    // Family card
    .family {
        height: 22rem;
        display: flex;

        @media screen and (max-width: 75em) {
            flex-direction: column;
        }

        // &-image {
        //     flex: 2;
        //     width: 100%;
        //     height: 100%;
        //     margin-right: 1rem;
        //     background: url('../../images/family.jpeg')
        //                 center center no-repeat;
        //     background-size: cover;
        // }

        // &-info {
        //     flex: 1;
        // }
    }

    // Lists
    &__list {
        list-style-type: none;
    }

    &__item {
        margin-bottom: .5rem;

        i {
            color: $color-primary;
            margin-right: 1rem;
        }
    }

    // Card links
    &__link {
        text-transform: uppercase;
        color: $color-primary;
        font-size: 1.8rem;
        font-weight: 700;
        border-bottom: .1rem solid $color-primary;
        text-decoration: none;
    }
}