.portfolio {
    margin-left: 2rem;
    margin-right: 2rem;

    &__projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2rem;

        &-1 {
            
            min-height: 25rem;
            background: linear-gradient(
                rgba(0, 0, 0, .6),
                rgba(0, 0, 0, .6)),
                url('../../images/new-hire.jpeg')
                center center no-repeat;
            background-size: cover;
            border-radius: .25rem;
        }
    
        &-2 {
            
            min-height: 25rem;
            background: linear-gradient(
                rgba(0, 0, 0, .6),
                rgba(0, 0, 0, .6)),
                url('../../images/freight.jpeg')
                center center no-repeat;
            background-size: cover;
            border-radius: .25rem;
        }

        &-3 {
            
            min-height: 25rem;
            background: linear-gradient(
                rgba(0, 0, 0, .6),
                rgba(0, 0, 0, .6)),
                url('../../images/pricing.jpeg')
                center center no-repeat;
            background-size: cover;
            border-radius: .25rem;
        }
    }

    .project-title {
        color: $color-light;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .project-subtitle {
        color: rgba($color-light, .9);
        font-size: 1.2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .project-link {
        text-decoration: none;
        color: $color-light;
        font-size: 1.2rem;
        padding: .5rem 1rem;
        background-color: $color-primary;
        border-radius: .5rem;

        &:hover {
            background: $color-hover;
            color: $color-dark;
            -webkit-box-shadow: 0 .3rem 1.2rem rgba($color-light, .3); 
            box-shadow: 0 .3rem 1.2rem rgba($color-light, .3);
            letter-spacing: .1rem;
            transition: all .1s ease;
        }
    }
}