.portfolio {
    margin-left: 2rem;
    margin-right: 2rem;

    &__projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
        grid-gap: 2rem;
    }

    &__projects {
        min-height: 25rem;
        border-radius: .25rem;
    }

    // Project 1
    .p1 {
        background: linear-gradient(
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)),
            url('../../images/new-hire.jpeg')
            center center no-repeat;
            background-size: cover;
    }

    // Project 2
    .p2 {           
        background: linear-gradient(
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)),
            url('../../images/freight.jpeg')
            center center no-repeat;
            background-size: cover;
    }

    // Project 3
    .p3 {          
        background: linear-gradient(
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)),
            url('../../images/pricing.jpeg')
            center center no-repeat;
            background-size: cover;
    }

    // Project 4
    .p4 {          
        background: linear-gradient(
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)),
            url('../../images/education.jpeg')
            center center no-repeat;
            background-size: cover;
    }

    // Project 5
    .p5 {          
        background: linear-gradient(
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)),
            url('../../images/shark.jpeg')
            center center no-repeat;
            background-size: cover;
    }

    // Project 6
    .p6 {          
        background: linear-gradient(
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)),
            url('../../images/incentive.jpeg')
            center center no-repeat;
            background-size: cover;
    }

    // Project 7
    .p7 {          
        background: linear-gradient(
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)),
            url('../../images/success.jpeg')
            center center no-repeat;
            background-size: cover;
    }

    // Project 8
    .p8 {          
        background: linear-gradient(
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)),
            url('../../images/specialist.jpeg')
            center center no-repeat;
            background-size: cover;
    }

    .project-title {
        color: $color-light;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .project-subtitle {
        color: rgba($color-light, .9);
        font-size: 1.2rem;
        padding: 0 .5rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .project-link {
        text-decoration: none;
        color: $color-light;
        font-size: 1.2rem;
        padding: .5rem 1rem;
        background-color: $color-primary;
        border-radius: .5rem;

        &:hover {
            background: $color-hover;
            color: $color-dark;
            -webkit-box-shadow: 0 .3rem 1.2rem rgba($color-light, .3); 
            box-shadow: 0 .3rem 1.2rem rgba($color-light, .3);
            letter-spacing: .1rem;
            transition: all .1s ease;
        }
    }
}