// Color Variables
$color-primary: #B10F2E;
$color-light: #fff;
$color-dark: #262626;
$color-hover: #DFB718;

// Breakpoint Variables
$bp-phone: 26.5em; // 425px
$bp-tablet: 48em; // 768px
$bp-desktop: 75em; // 1200px

// Mixins
@mixin flexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin gridContentCenter {
    display: grid;
    place-items: center;
}

// Margins
// Bottom
.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 4rem; }
.mb-lg { margin-bottom: 6rem; }

// Left
.ml { margin-left: 2rem;}


// Global Reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%; // Setting px size to 10px for easier use of rem
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    height: 100%;
    color: $color-dark;
}

.App {
    height: 100%;
}

// Container for About, Portfolio, & Contact sections
.container {
    max-width: 120rem;
    margin: 0 auto;
}

// Typography
// Section titles
.heading-1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.2rem;

    @media screen and (max-width: 48em) {
        font-size: 2.8rem;
    }
}

// Sub section titles
.heading-2 {
    text-align: center;
    font-size: 2.4rem;
}

// Card & Project titles
.heading-3 {
    margin-bottom: .5rem;
    font-size: 2rem;
    color: $color-primary;
}

// Centering content inside a div
.center {
    @include flexColCenter;
}