// Color Variables
$color-primary: #B10F2E;
$color-light: #fff;
$color-dark: #262626;

// Breakpoint Variables
$bp-phone: 26.5em; // 425px
$bp-tablet: 48em; // 768px
$bp-desktop: 75em; // 1200px

// Margin-bottom
.mb-sm { margin-bottom: 3rem; }
.mb-md { margin-bottom: 5rem; }
.mb-lg { margin-bottom: 8rem; }


// Global Reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%; // Setting px size to 10px for easier use of rem
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    height: 100%;
}

.App {
    height: 100%;
}