.hero {
    margin-top: 6rem;
    min-height: 80vh;
    background: linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)),
        url('../images/hero-img.jpeg')
        center center no-repeat;
    background-size: cover;
    text-align: center;
    display: grid;
    place-items: center;

    &__content {
        color: $color-light;
    }

    &__title {
        font-size: 4rem;

        @media screen and (max-width: 48em) {
            font-size: 3.2rem;
        }
    }

    &__subtitle {
        font-size: 1.6rem;
        filter: brightness(95%);

        @media screen and (max-width: 48em) {
            font-size: 1.4rem;
        }
    }

    &__button {
        background-color: $color-primary;
        color: $color-light;
        font-family: inherit;
        font-size: 2rem;
        padding: 1.25rem 2.5rem;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
        display: inline-block;

        &:hover {
            background: $color-hover;
            color: $color-dark;
            -webkit-box-shadow: 0 .3rem 1.2rem rgba($color-light, .3); 
            box-shadow: 0 .3rem 1.2rem rgba($color-light, .3);
            letter-spacing: .3rem;
            transition: all .3s ease;
        }
    }
}