@import 'base';

@import './navbar/navbar';
@import './navbar//menuToggle';
@import './navbar/sideDrawer';

@import 'hero';

@import './about/about';
@import './about/awards';

@import './portfolio/portfolio';
@import './portfolio/cases';
@import './portfolio/projects';

@import 'contact';

@import 'footer';