.about {

    &__cards-container {
        margin: 0 2rem;
        margin-bottom: 3rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
        grid-gap: 2rem;

        @media screen and (min-width: 75em) {
            grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
        }
    }

    // &__card {
        
    //     &:not(:last-child) {
    //         margin-bottom: 1.5rem;
    //     }
    // }

    .card-title {
        margin-left: 1rem;
    }

    &__card-description {
        font-size: 1.4rem;
        min-height: 15rem;
        padding: 1rem;
        border-radius: .25rem;
        box-shadow: 0 .3rem 1rem $color-dark;
    }

    // Lists
    &__list {
        list-style-type: none;
    }

    &__item {
        margin-bottom: .5rem;

        i {
            color: $color-primary;
            margin-right: 1rem;
        }
    }

    // Card links
    &__link {
        text-transform: uppercase;
        color: $color-primary;
        font-size: 1.8rem;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            border-bottom: .2rem solid $color-primary;
            transition: all .2s ease;
        }
    }
}