.awards {
    margin: 0 2rem;

    &__title {
        text-align: center;
        font-size: 2.4rem;
    }

    &__list {
        display: flex;
    }

    &__item {
        font-size: 1.2rem;
    }
}